
body{ 
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    margin: 8px;
    display: block;

}


.image{ 
    width: 40%;
    height: 30%;
    

}


h2{ 
    padding: 30px;
}


.funParagraph{ 
    padding: 20px;
    margin: 10px;
}


footer{ 
    padding: 10px;
    margin: 10px;
}


#mainHeading{ 
    font-size: 140%;

}


#testP{ 
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}



